.p1 {
  margin-left: 10px;
  font-size: 15px;
  color: #777676;
}

.p2 {
  text-align: end;
  font-size: 15px;
  color: #777676;
  margin-top: 18px;
}

.p3 {
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
}

.p4 {
  text-align: end;
  font-size: 15px;
  font-weight: bold;
  margin-top: 18px;
}

.i1 {
  margin-top: 18px;
  color: #8e8f90;
  margin-left: -15px;
}

ion-button.b1 {
  --background: #22749a;
  --border-radius: 20px;
  --border-color: #393939;
  --border-width: 0.5px;
  width: 265px;
  font-size: 10px;
  margin-left: 40px;
}
