<ion-header [translucent]="true" xmlns="http://www.w3.org/1999/html">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Concluir Transferencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">
    <div class="ui-g">

      <div class="ui-g-3 ui-md-1 ui-fluid">
        <ion-card style="margin-top: 20px;height: 30px">
          <ion-card-content>
            <p style="margin-top: -6px">FF</p>
          </ion-card-content>
        </ion-card>
      </div>
      <div style="margin-left: -10px;margin-top: 10px" class="ui-g-8 ui-md-9 ui-fluid" routerLink="/movimentacao/enviarA">
        <p style="margin-left: 10px;font-size: 15px">Saldo E-dobra</p>
      </div>
      <div style="margin-top: 10px" class="ui-g-1 ui-md-2 ui-fluid">
        <i style="margin-top: 18px;" class="fas fa-angle-right"></i>
      </div>

      <div style="margin-top: -25px" class="ui-g-3 ui-md-1 ui-fluid">
        <i style="margin-top: 20px;margin-left: 25px" class="fas fa-horse-head fa-2x"></i>
      </div>
      <div style="margin-left: -10px;margin-top: -15px" class="ui-g-8 ui-md-9 ui-fluid" routerLink="/movimentacao/enviarA">
        <p style="margin-left: 10px;font-size: 15px">Enviar para amigos e familiares</p>
      </div>
      <div style="margin-top: -15px" class="ui-g-1 ui-md-2 ui-fluid">
        <i style="margin-top: 18px;" class="fas fa-angle-right"></i>
      </div>

      <div style="margin-left: -10px;margin-top: -15px" class="ui-g-6 ui-md-9 ui-fluid" routerLink="/movimentacao/enviarA">
        <p class="p1">Comissão do E-dobra</p>
      </div>
      <div style="margin-top: -15px" class="ui-g-1 ui-md-1 ui-fluid">
        <i class="fas fa-info-circle i1"></i>
      </div>
      <div style="margin-top: -15px" class="ui-g-5 ui-md-2 ui-fluid">
        <p class="p2">1,99 Dbs</p>
      </div>

      <div style="margin-left: -10px;margin-top: -25px" class="ui-g-7 ui-md-10 ui-fluid">
        <p class="p3">Total</p>
      </div>
      <div style="margin-top: -25px" class="ui-g-5 ui-md-2 ui-fluid">
        <p class="p4">6,98 Dbs</p>
      </div>

      <div style="margin-left: -10px;margin-top: -25px" class="ui-g-7 ui-md-10 ui-fluid">
        <p class="p3">Montante em Dbs</p>
      </div>
      <div style="margin-top: -25px" class="ui-g-5 ui-md-2 ui-fluid">
        <p class="p4">4,99 Dbs</p>
      </div>

      <div class="ui-g-12 ui-md-12 ui-fluid">
        <ion-button class="b1">Enviar</ion-button>
      </div>

    </div>
  </div>

</ion-content>
