ion-button.b3{
  --background: #bb8839;
  --border-radius: 20px;
  --border-color: #bb8839;
  --border-width: 0.5px;
}
.p3{
  margin-top: -45px;
  margin-left: 10px;
  font: small-caption;
  font-size: 15px;
}
ion-button.b4{
  --background: #5d5e5e;
  --border-radius: 20px;
  --border-color: #393939;
  --border-width: 0.5px;
}

