<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Enviar dinheiro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="container">
        <div class="ui-g">

            <div class="ui-g-1 ui-md-1 ui-fluid">
                <i style="margin-top: 10px" class="fas fa-search"></i>
            </div>
            <div class="ui-g-10 ui-md-10 ui-fluid">
                <ion-input placeholder="Nome ou endereço de e-mail"></ion-input>
            </div>
            <div class="ui-g-1 ui-md-1 ui-fluid">
                <i class="fas fa-qrcode fa-2x" style="color: #1a68a5;margin-left: -10px"></i>
            </div>

            <div class="ui-g-1 ui-md-1 ui-fluid d1">
                <i class="fas fa-globe fa-2x" style="color: #1a68a5;margin-top: 10px"></i>
            </div>
            <div class="ui-g-10 ui-md-10 ui-fluid">
                <p style="margin-left: 5px">Envie para amigos e familiares no estrangeiro</p>
            </div>
            <div class="ui-g-1 ui-md-1 ui-fluid">
                <i style="margin-top: 15px" class="fas fa-angle-right"></i>
            </div>

            <div class="ui-g-12 ui-md-12 ui-fluid" style="background-color: #e7eef1;height: 40px">
                <p style="margin-top: 3px">Os seus contactos</p>
            </div>

            <div class="ui-g-2 ui-md-1 ui-fluid">
                <ion-button style="width: 50px;height: 50px" class="b3" expand="block" fill="outline"><p
                        style="color: white">JL</p>
                </ion-button>
            </div>
            <div class="ui-g-9 ui-md-9 ui-fluid" routerLink="/movimentacao/enviarA">
                <p style="margin-top: 5px;margin-left: 10px">Jerson Leitão</p>
            </div>
            <div class="ui-g-1 ui-md-2 ui-fluid">
                <i style="margin-top: 20px;" class="fas fa-ellipsis-v"></i>
            </div>
            <div class="ui-g-2 ui-md-1 ui-fluid">
            </div>
            <div class="ui-g-8 ui-md-8 ui-fluid" routerLink="/movimentacao/enviarA">
                <p class="p3">jersonleitao@gmail.com</p>
            </div>
            <div class="ui-g-2 ui-md-3 ui-fluid">
            </div>

            <div class="ui-g-2 ui-md-1 ui-fluid">
                <ion-button style="width: 50px;height: 50px" class="b4" expand="block" fill="outline"><i
                        class="fas fa-store fa-1x"
                        style="color: #fdfafa"></i>
                </ion-button>
            </div>
            <div class="ui-g-9 ui-md-9 ui-fluid">
                <p style="margin-top: 5px;margin-left: 10px">SCHOOL OF NET INTERNET...</p>
            </div>
            <div class="ui-g-1 ui-md-2 ui-fluid">
                <i style="margin-top: 20px;" class="fas fa-ellipsis-v"></i>
            </div>
            <div class="ui-g-2 ui-md-1 ui-fluid">
            </div>
            <div class="ui-g-8 ui-md-8 ui-fluid">
                <p class="p3">financeiro@schoolofnet.com</p>
            </div>
            <div class="ui-g-2 ui-md-3 ui-fluid">
            </div>

            <div class="ui-g-2 ui-md-1 ui-fluid">
                <ion-button style="width: 50px;height: 50px" class="b4" expand="block" fill="outline"><i
                        class="fas fa-store fa-1x"
                        style="color: #fdfafa"></i>
                </ion-button>
            </div>
            <div class="ui-g-9 ui-md-9 ui-fluid">
                <p style="margin-top: 5px;margin-left: 10px">AlgaWorks Softwares,...</p>
            </div>
            <div class="ui-g-1 ui-md-2 ui-fluid">
                <i style="margin-top: 20px;" class="fas fa-ellipsis-v"></i>
            </div>
            <div class="ui-g-2 ui-md-1 ui-fluid">
            </div>
            <div class="ui-g-8 ui-md-8 ui-fluid">
                <p class="p3">cobranca@algaworks.com</p>
            </div>
            <div class="ui-g-2 ui-md-3 ui-fluid">
            </div>

        </div>
    </div>
</ion-content>
