ion-button.b3 {
  --background: #5d5e5e;
  --border-radius: 20px;
  --border-color: #393939;
  --border-width: 0.5px;
}

.p1 {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
.id1{
  background-color: #f7fbf7;
  width: 340px;
  margin-left: 10px;
  height: 50px;
}
.p2{
  color: #0d0d0d;
  font-weight: bold;
  font-size: 12px;
}
