<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <div class="container">
    <div class="ui-g">

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <a></a>
        <p-card header="Pagar" [style]="{width: '160px'}" routerLink="/lj">
         </p-card>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <p-card header="Transferir" [style]="{width: '160px'}">
        </p-card>
    </div>

    <div class="ui-g-6 ui-md-3 ui-fluid">
      <p-card header="Retirar" [style]="{width: '160px'}">
      </p-card>
  </div>

  <div class="ui-g-6 ui-md-3 ui-fluid">
    <p-card header="Pedir saldo" [style]="{width: '160px'}">
    </p-card>
</div>
</div>
</div>

</ion-content>