/*ion-content {
  --background: #f7fbf7;
}*/

ion-button.b1 {
  --background: #ffffff;
  --border-radius: 40px;
  --border-color: #393939;
  --border-width: 0.5px;
}

ion-button.b2 {
  --background: #22749a;
  --border-radius: 30px;
  --border-color: #393939;
  --border-width: 0.5px;
}

ion-button.b3 {
  --background: #5d5e5e;
  --border-radius: 20px;
  --border-color: #393939;
  --border-width: 0.5px;
}

ion-button.b4 {
  --background: #bb8839;
  --border-radius: 40px;
  --border-color: #bb8839;
  --border-width: 0.5px;
  width: 50px;
  height: 50px
}

.vf {
  margin-top: 17px;
  text-align: end;
}

.p1 {
  margin-top: -2px;
  font-size: 25px;
  font-weight: bold;
}

.p2 {
  font-size: 35px;
  font-family: none;
  margin-top: -25px;
}

.p3 {
  margin-top: -45px;
  margin-left: 10px;
  font: small-caption;
  font-size: 15px;
}

.p4 {
  font-size: 12px;
  text-align: center;
  margin-top: -3px;
  color: #3a3939;
  width: 55px;
}
.l1{
  margin-top: -10px;
  font-size: 12px;
  margin-left: 8px;
}
