<div class="container" style="max-width: 400px; margin: auto">
    <p-card header="Informações pessoais" [style]="{width: '360px'}">
        <form autocomplete="off" (ngSubmit)="registrar()" [formGroup]="formulario">
            <div class="ui-g ui-fluid">
                <div class="ui-g-12">
                    <label>Nome</label>
                    <input pInputText type="text" name="nome"
                           formControlName="nome">

                    <app-message [control]="formulario.get('nome')" error="obrigatoriedade"
                                 text="Informe o nome"></app-message>
                    <app-message [control]="formulario.get('nome')" error="tamanhoMinimo"
                                 text="Mínimo de {{ formulario.get('nome').errors?.tamanhoMinimo?.tamanho }} caracteres"></app-message>
                </div>
                <div class="ui-g-12">
                    <label>E-mail</label>
                    <input pInputText type="text" name="email"
                           formControlName="email">
                    <app-message [control]="formulario.get('email')" error="obrigatoriedade"
                                 text="Informe o e-mail"></app-message>
                    <app-message [control]="formulario.get('email')" error="email"
                                 text="E-mail invalido"></app-message>
                </div>
                <div class="ui-g-12">
                    <label>Banco</label>
                    <p-dropdown name="banco" [options]="bancos"
                                placeholder="Selecione"
                                formControlName="id"></p-dropdown>
                </div>
                <div class="ui-g-12">
                    <label>Número da conta</label>
                    <input pInputText type="text" name="nConta"
                           formControlName="nConta">
                    <app-message [control]="formulario.get('nConta')" error="obrigatoriedade"
                                 text="Informe o número da conta"></app-message>
                </div>
                <div class="ui-g-12">
                    <label>Morada</label>
                    <input pInputText type="text" name="morada"
                           formControlName="morada">
                    <app-message [control]="formulario.get('morada')" error="obrigatoriedade"
                                 text="Informe a morada"></app-message>
                </div>
                <div class="ui-g-12">
                    <label>Telemovel</label>
                    <input pInputText type="text" name="telemovel"
                           formControlName="telemovel">
                    <app-message [control]="formulario.get('telemovel')" error="obrigatoriedade"
                                 text="Informe o telomovel"></app-message>
                </div>
                <div class="ui-g-12">
                    <label>NIF</label>
                    <input pInputText type="text" name="nif"
                           formControlName="nif">
                    <app-message [control]="formulario.get('nif')" error="obrigatoriedade"
                                 text="Informe o NIF"></app-message>
                </div>
                <div class="ui-g-12">
                    <p-calendar name="dataNascimento" dateFormat="dd/mm/yy"
                                [inline]="false" [readonlyInput]="false" [showIcon]="false"
                                formControlName="dataNascimento"[monthNavigator]="true"></p-calendar >

                    <app-message [control]="formulario.get('dataNascimento')" error="required"
                                 text="Informe uma data de nascimento"></app-message>
                </div>

                <div class="ui-g-12">
                    <button pButton type="submit" label="Login"></button>
                </div>
            </div>
        </form>
    </p-card>
</div>

